/.DS_Store
Lecture\ Notes/.DS_Store
Lecture\ Notes/Week\ 2/.DS_Store
Lecture\ Notes/Week\ 3/.DS_Store
/Assignments/assign1/.DS_Store
/Assignments/assign2/.DS_Store
/Assignments/assign3/.DS_Store
/Assignments/assign4/.DS_Store

